body {
	background-color: #1BBE42;
	font-family: sans-serif;
	text-indent: 5em;
}

p#georgia {
	font-family: Georgia;
	font-size: 24;
}

p#georgia italic {
	font-style: italic;
	text-transform: capitalize;
}

ul.circle {
	list-style: circle inside;
	text-indent: 2em;
}

ul.circle li {
	text-indent: 3em;
}

ul.image {
	list-style-image: url('../img/fog.jpg');
	text-indent: 2em;
	list-style-position: inside;
}

ul.image li {
	text-indent: 3em;
}